.topbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
    background-color: white;
    width: 100%;
    padding: 0px 20px;
    box-sizing:border-box;
}

.topbar__items{
    display: flex;
    gap: 34px;
}

.topbar__logo{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    /* identical to box height, or 47px */

    letter-spacing: 0.005em;

    /* Light/Secondary Color/50% */

    color: #F86338;
}

.topbar__item{
    display: flex;
    align-items: center;
    gap: 9px;
}

.icon__text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: 0.005em;
}

.topbar__icons{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    .topbar__logo{
        font-size: 15px;
    }
    .topbar__container{
        padding: 0px 15px;
    }
    .icon__text{
        font-size: 9px;
    }
    .topbar__items{
        gap: 15px;
    }
}

@media screen and (max-width: 992px) {
    .topbar__logo{
        font-size: 30px;
    }
    .topbar__container{
        padding: 0px 20px;
    }
    .icon__text{
        font-size: 12px;
    }

    .topbar__items{
        gap: 15px;
    }

    .topbar__item{
        gap: 2px;
    }
}