.shop__container{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 70px;
    margin-bottom: 160px;
}

.filter__container{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

#form1{
    width: 80%;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Body 2 */

    color: #9A9AB0;
}

.filter__section{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    gap: 24px;
}

.section__space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Title */

    color: #11142D;
}

.filter__title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Title */

    color: #11142D;
    margin-bottom: 0px;
}

.price__range{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Title */

    color: #11142D;
}

.remove{
    text-indent: -40px;
}

.categories__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    margin: 0px;
}

.featured{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.featured__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.featured__title{
    text-align: start;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    letter-spacing: 0.005em;

    /* Light/Text Color/Title */

    color: #11142D;
    margin: 0px;
}

.featured__price{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    letter-spacing: 0.008em;

    /* Light/Secondary Color/50% */

    color: #F86338;
}

.list{
    columns: 2 auto;
}

.Phone{
    display: none;
}

.list__container{
    display: inline-block;
    position: relative;
    width: 424px;
    height: 375px;
    background: #FFFFFF;
    border-radius: 6px;
}

.like__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFDDD3;
    border-radius: 6px;
    position: absolute;
    width: 27px;
    height: 22px;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
}

.list__button{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    
    letter-spacing: 0.005em;
    
    /* Light/Secondary Color/50% */
    
    color: #FFFFFF;
    text-align: center;
    background: #F86338;
    border-radius: 8px;
    border: none;
    width: 121px;
    height: 56px;
}

@media screen and (max-width: 992px) {
    .shop__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list{
        columns: 1 auto;
    }

    .filter__container{
        width: 90%;
    }

    .Default{
        display: none;
    }

    .Phone{
        display: block;
    }
}