.header__container{
    display: flex;
    justify-content: center;
    gap: 64px;
    height: 112px;
}

form {
    width: 573px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
}

input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    text-align: start;
    
}

::placeholder {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Body 2 */

    color: #9A9AB0;
    text-align: start;

}

nav{
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__menu{
    display: flex;
    gap: 44px;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
}