.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: auto;
    height: 476px;
    padding: 0px 100px;
}

.footer__content{
    display: flex;
    gap: 56px;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 360px;
}

.footer__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.footer__item{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    letter-spacing: 0.005em;

    /* Light/Text Color/Title */

    color: #11142D;
    margin-bottom: 0px;
}

.footer__logo{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */

    letter-spacing: 0.003em;

    /* Light/Secondary Color/50% */

    color: #F86338;
    margin: 0px;
}

.footer__media{
    display: flex;
    gap: 22px;
    height: 360px;
    width: auto;
}